<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">

    <% if (environment === 'production') { %>
      <title>My App</title>
    <% } %>

    <% if (environment === 'development') { %>
      <title>~<%= request.url %></title>
    <% } %>

    <% if (environment === 'production') { %>
      <link rel="stylesheet" href="<%= cssManifest['index.css'] %>">
    <% } %>

    <% if (environment === 'development') { %>
      <style type="text/css">
        @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
        html, head, body {
          margin: 0;
          height: 100%;
        }
      </style>

      <link rel="stylesheet" href="/public/index.css">
    <% } %>
  </head>

  <body>
    <% if (environment === 'development') { %>
      <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; color: #9A9A9A; font-family: &#39;Source Sans Pro&#39;;">
        <div style="font-size: 3em;">Building your project!</div>
        <img src="/_reactor/waiting.gif" />
        <div style="font-size: 1em">With new projects, I need a bunch of extra time to download packages.</div>
      </div>
    <% } %>

    <% if (environment === 'production') { %>
      <script src="<%= jsManifest['Main.js'] %>"></script>
      <script>
        Elm.Main.embed(document.body)
      </script>
    <% } %>

    <% if (environment === 'development') { %>
      <script src="/_compile<%= request.url %>"></script>
      <script>
        while (document.body.firstChild) {
          document.body.removeChild(document.body.firstChild)
        }
        runElmProgram()
      </script>
    <% } %>
  </body>
</html>
